<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container">
    <h1>Add a Book</h1>
    <form action="/info" method="POST">
    {% csrf_token %}
    <div class="add_book">
        <p>Title</p>
        <input type="text" name="title">
        <p>Description</p>
        <input type="text" name="desc">
        <input class="button" type="submit" value="add">
    </div>
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td><a href="/books/{{book.id}}">View</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>